edgartools
pandas>=2.0.0

# 共通基本ライブラリ
certifi
cryptography
feedparser>=6.0.0
httpx>=0.28.0
httpcore>=1.0.5
openai>=1.75.0
plotly
pyarrow
pydantic
pyopenssl
pyyaml
requests==2.31.0
streamlit
urllib3==2.2.3
yfinance

# Macro Pulse 用
fredapi==0.5.1
google-generativeai
discord-webhook
