# 共通基本ライブラリ
pandas
pyyaml
requests
openai>=1.75.0
urllib3==2.2.3
httpx>=0.28.0
httpcore>=1.0.5
pyarrow
pyopenssl
cryptography
certifi

# Macro Pulse 用（必要に応じて）
fredapi
google-generativeai
discord-webhook
